{% extends "base.html" %}

{% block title %}Test{% endblock %}	

{% block page_content %}
<div class="page-header">
    <h1>ButLed <span class="glyphicon glyphicon-flash" style='font-size: 50px'></span></h1>
</div>
<div class = "container">
	<div class = "row">
        <div id="RasPi">
            <h3>Board: {{board}}</h3>
			<p>LED <img id="ledR" onclick="changeLed(this.id)" src="{{ url_for('static', filename='imgs/butoff.png') }}" width="96" height="50">
			<p>Button: <img id="imgBut"  src="{{ url_for('static', filename='imgs/ledoff.png') }}" width="60" height="50"></p>
        </div>	
    </div>
	<div class = "row">
		<div class = "col-md-5" id = "graph">
			<h3>Graph</h3>
		</div>
		<div class = "col-md-3" id = "bargraph">
			<h3>Bar</h3>
		</div>
		<div class = "col-md-4" id = "d3">
		</div>
	</div>          
	<div class = "row">
		<div class = "col-md-5" id = "container">
        </div>	
		<div class = "col-md-5" id = "log_space">
			<div class="panel panel-default">
    			<div class="panel-heading clearfix">
    				<b>Log</b>
    			    <div class="pull-right">
            			<a href="#" class="btn btn-xs btn-primary">Clear</a>
        			</div>
    			</div>
    			<div class="panel-body">
    				<textarea id="log" class="form-control" rows="15"></textarea>
    			</div>
			</div>			
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<!-- 3D -->
	<script src="{{ url_for('static', filename='js/three.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/Detector.js') }}"></script>	
		
	<script type="text/javascript" charset="utf-8">
		namespace = '/test'; // change to an empty string to use the global namespace
		var url = 'http://' + document.domain + ':' + location.port + namespace;
		var socket = io.connect(url);
	
		var obj=document.getElementById("log");
		function log(msg) {
			$('#log').append('\n' +msg);
			obj.scrollTop=obj.scrollHeight;
		}

		function changeLed(id) {
			var element = document.getElementById(id);
			var state = element.src.match("off") != null;
			if (state)
				element.src="{{ url_for('static', filename='imgs/buton.png') }}"; 
			else
				element.src="{{ url_for('static', filename='imgs/butoff.png') }}"; 
			log(state ? "LED ON" : "LED OFF");
			socket.emit(id + 'Ctrl', {led: state});
		} 
        
        $(document).ready(function(){
			$('#log').append(url);	

		    var image = document.getElementById('imgBut');
			socket.on('but', function(msg) {
				but = msg.state ? "Button ON" : "Button OFF";
				log(but);
			    if (msg.state)
			        image.src = "{{ url_for('static', filename='imgs/ledon.png') }}";
			    else
			        image.src = "{{ url_for('static', filename='imgs/ledoff.png') }}";
			});		
			
			zeros100 = (function () {
                var data = [], i;
                
                for (i=0; i<100; i++) {
                    data.push(0);
                }
                return data;
            }());
            
            $('#graph').highcharts({
                chart: {
                    type: 'line',
                    animation: false
                },
                plotOptions: {
                    series: { marker: { enabled: false } }
                },
                yAxis: { min: -300, max: 300, tickInterval: 100 },
                title:   { text: '3-axis accelerometer' },
                legend:  { enabled: false },
                credits: { enabled: false },
                tooltip: { enabled: false },
                series: [
					{ name: 'x', data: zeros100, color: '#FF0000'},
					{ name: 'y', data: zeros100, color: '#00FF00'},
					{ name: 'z', data: zeros100, color: '#0000FF'}
                ]
            });
            var chart = $('#graph').highcharts();
            
            $('#bargraph').highcharts({
                chart: { type: 'column', animation: false },
                title: { text: 'XYZ' },
                xAxis: { categories: ['X', 'Y', 'Z'] },
                credits: { enabled: false },
                yAxis: {
                	min: -300,
                	max: 300,
                	tickInterval: 100,
                	title: {enabled: false}
                },
                legend:  { enabled: false },
                series: [{ data: [{y:50, color:'#FF0000'}, {y:200, color:'#00FF00'}, {y:-150, color:'#0000FF'}] }]
            });
            var barchart = $('#bargraph').highcharts();

            socket.on('newData', function(msg) {
                //var chart = $('#container').highcharts();
                chart.series[0].addPoint(msg.x, true, true, false);                
                chart.series[1].addPoint(msg.y, true, true, false);                
                chart.series[2].addPoint(msg.z, true, true, false);  
                barchart.series[0].setData([msg.x, msg.y, msg.z]);
                setBlock(msg);
            });   
            
		    $('#d3').height(300);
		    
	    	var scene;
	    	var camera;
	    	var cubeMesh;

	    	initializeScene();

	    	renderer.render(scene, camera);
	    	
	    	function initializeScene(){
	    		if(Detector.webgl){
	    			renderer = new THREE.WebGLRenderer({antialias:true});
	    		} else {
	    			renderer = new THREE.CanvasRenderer();
	    		}
	    		
	    		renderer.setClearColor(0x000000, 1);
	    		
	    		canvasWidth = document.getElementById("d3").offsetWidth; 
	    		canvasHeight = document.getElementById("d3").offsetHeight; 
	    		
	    		renderer.setSize(canvasWidth, canvasHeight); 
	
				document.getElementById("d3").appendChild(renderer.domElement);
				
				scene = new THREE.Scene();
				
				camera = new THREE.PerspectiveCamera(45, canvasWidth / canvasHeight, 1, 100); 
	    		camera.position.set(0, 0, 10); 
	    		camera.lookAt(scene.position); 
	    		scene.add(camera); 
	    		
	    		var cubeGeometry = new THREE.CubeGeometry(3.0, 2.0, 0.5); 
	    		
	    		var cubeMaterials = [
					new THREE.MeshBasicMaterial({color:0xFF0000}),
					new THREE.MeshBasicMaterial({color:0x00FF00}),
					new THREE.MeshBasicMaterial({color:0x0000FF}),
					new THREE.MeshBasicMaterial({color:0xFFFF00}),
					new THREE.MeshBasicMaterial({color:0x00FFFF}),
					new THREE.MeshBasicMaterial({color:0xFFFFFF})
				];
	    		
	    		var cubeMaterial = new THREE.MeshFaceMaterial(cubeMaterials); 
	    		
	    		cubeMesh = new THREE.Mesh(cubeGeometry, cubeMaterial); 
	    		cubeMesh.position.set(0.0, 0.0, 0.0); 
	    		scene.add(cubeMesh); 
	    	}
	    	
	    	function setBlock(xyz) {
				cubeMesh.rotation.x = xyz[0]/300*Math.PI;
				cubeMesh.rotation.y = xyz[1]/300*Math.PI;
				cubeMesh.rotation.z = xyz[2]/300*Math.PI;
				renderer.render(scene, camera);         
	    	}        
		});
	</script>	
{% endblock %}
